@model IEnumerable<ThaiRestaurant.Models.User>

@if (User.Identity.IsAuthenticated)
{
    <h1>Users</h1>
    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="card-title">@user.UserName</h5>
                    </div>

                    <div class="card-body">
                        @if (User.Identity.IsAuthenticated && User.Claims.Any(c => c.Type == "IsAdmin" && c.Value == "True"))
                        {
                            @if (user.UserName != "Admin")
                            {
                                <a asp-controller="User" asp-action="Delete" asp-route-id="@user.UserId" class="btn btn-danger">
                                    <i class="bi bi-plus-circle"></i> Delete User
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>


}